
.theme-light {
	--primary: #eeeeee;
	--text: rgb(50 50 50);
	--shadow-light: rgb(255 255 255);
	--shadow-dark: rgb(50 50 50 / 20%);
	--placeholder: rgb(50 50 50 / 30%);
	--disabled: rgb(50 50 50 / 10%);
}