
// colors
$black: var(--black);
$white: var(--white);
$border: var(--border);
$placeholder: var(--placeholder);
$button-bg: var(--button-bg);
$button-dbg: var(--button-dbg);
$button-dcolor: var(--button-dcolor);
$primary: var(--primary);

// fonts
$montserrat: 'Montserrat', sans-serif;
