///colors///
$primary: var(--primary);
$text: var(--text);
$shadow-light: var(--shadow-light);
$shadow-dark: var(--shadow-dark);
$placeholder: var(--placeholder);
$disabled: var(--disabled);

///fonts///
$montserrat: "Montserrat", sans-serif;
$solway: "Solway", serif;
