
.header {
	margin: 8rem 0;

	&__title {
		@include typo( $c: $black , $ff: $montserrat , $fw: 800 , $fs: 8rem );

		@media (max-width: 550px) {
			font-size: 15vw;
		}
	}

	@media (max-width: 900px) {
		@include box($m: 4rem 0 , $mb: 2rem );
		text-align: center;
	}
	@media (max-width: 550px) {
		@include box( $w: 100% , $mb: 0 );
	}
	@media (max-width: 450px) {
		@include box( $m: 3rem 0 );
	}
}