@use "../abstracts" as *;

.controls__btn {
   @include size($h: 4.5rem);
   @include bg($c: $primary);
   @include typo($c: $text, $ff: $montserrat, $fw: 400, $fs: 1.6rem);
   @include pbm($b: none, $rad: 0.5rem);
   @include flex-item($grow: 1);
   outline: none;
   cursor: pointer;
   box-shadow: -5px -5px 10px $shadow-light, 5px 5px 10px $shadow-dark;

   &:not(:last-child) {
      margin-right: 2rem;
   }

   @media (max-width: 480px) {
      &:not(:last-child) {
         margin-right: 1rem;
      }
   }

   &:enabled:active {
      @include bg($c: $disabled);
      box-shadow: none;
   }

   &:disabled {
      @include bg($c: $disabled);
      box-shadow: none;
   }
}
