@use '../abstracts' as *;

.theme-svg {
	@include size( $h: 4rem , $w: 4rem );
	@include pos-fixed( $b: 1rem , $r: 1rem );
    background: none;
    border-style: none;
    cursor: pointer;
    fill: rgba(39, 37, 62, 1);

    &:focus {
        outline: none;
    }
}