@use "../abstracts" as *;

.controls {
	@include size( $w: 70rem , );
	@include pbm( $p: 2rem , $pr: 6rem , );
	@include flex( $fd: column , );

	@media (max-width: 1140px) {
		@include size( $w: 60rem , );
	}
	@media (max-width: 930px) {
		@include pbm( $p: 2rem , );
	}
	@media (max-width: 780px) {
		@include size( $w: 100% , );
		@include pbm( $pt: 0 , );
	}

	&__input-group {
		@include pbm( $rad: .5rem , );
		@include flex( $jc: null , $ai: streatch , );
		box-shadow: -4px -4px 4px $shadow-light, 4px 4px 4px $shadow-dark;
		&:not(:last-child) { margin-bottom: 2.5rem; }

		@media (max-width: 540px) {
			@include size( $h: 6rem , );
		}
		@media (max-width: 420px) {
			@include size( $h: 5.5rem , );
		}

		&--label {
			@include size( $w: 30rem , );
			@include typo( $c: $text , $ff: $montserrat , $fw: 300 , $fs: 4rem , $ta: center , );
			@include pbm( $p: 1rem , $rad: .5rem 0 0 .5rem , );

			@media (max-width: 540px) {
				@include size( $w: 20rem , );
				@include typo( $fs: 3rem , );	
			}
			@media (max-width: 420px) {
				@include typo( $fs: 2.5rem , );	
				@include flex( $jc: center , $ai: center , );
			}
		}

		&--input {
			@include typo( $c: $text , $ff: $montserrat , $fw: 300 , $fs: 3rem );
			@include pbm( $pl: 2rem , $b: 3px solid $primary , $rad: 6px );
			@include bg( $c: $primary , );
			@include size( $w: 100% , );
			box-shadow: inset -4px -4px 4px $shadow-light, inset 4px 4px 4px $shadow-dark;
		    outline: none;

			&::placeholder { color: $placeholder; }
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button { -webkit-appearance:none; margin: 0; }

			&:disabled {
				@include bg( $c: $disabled , );
				box-shadow: inset -3px -3px 3px $shadow-light, inset 3px 3px 3px $shadow-dark;
			}
		}
	}

	&__btns {
		@include flex( $jc: space-between );
	}
}
